.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #c7ba5b;
    background: #1d83ec;
    font-size: 50px;
    border: 5px solid #989898;

}

.btn:hover {
    color: chartreuse;
    border: 5px solid chartreuse;
}

.btn-icon {
    margin-left: 10px;
}

.hidden {
    display: none;
}